.background_wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: -60px;
}
@media screen and (max-width: 768px) {
  .background_wrapper {
    top: -30px;
  }
}
.background {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}
