.card_wrapper {
  padding: 2vw 1vw;

  width: 26vw;
  height: 95%;

  background-color: #fffff3;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  position: absolute;
  bottom: 1vw;
  border-radius: 3vw;
  z-index: 900;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card_wrapper {
  animation: fadeIn 0.5s ease;
}

.card_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}
.card_title {
  font-size: 2vw;
  line-height: 1;
  font-weight: 600;
  color: #253b7c;
}

.card_details {
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: 1vw;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
}

.card_image_wrapper {
  width: 60%;
  align-self: center;

  bottom: 20%;
  position: relative;
}
.card_menu_btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 1vw;
  left: 45%;
}
.card_btn {
  width: 3vw;
  height: auto;
  aspect-ratio: 1 / 1;

  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;

  padding: 5px;
  margin: 0;
}

.card_btn:hover {
  opacity: 0.8;
  transition: 300ms;
}

.url_btn {
  background-color: #253b7c;
  color: white;
  padding: 0.5vw 1vw;
  font-size: 0.8vw;

  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;
  z-index: 9999;
}

.url_btn:hover {
  background-color: white;
  color: #253b7c;
  transition: background-color 300ms;
}
