.icon {
  position: absolute;
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
}

.lottie {
  padding: 0;
  margin: 0;
  width: 100%;
  aspect-ratio: 1 / 1;
}
/* Individual icons */

/* campfire */
#iconOne {
  width: 8vw;
  top: 10vw;
  left: 1vw;
}

/* golver */
#iconTwo {
  width: 10vw;
  top: 20vw;
  left: 25vw;
}
/*  crossroad */
#iconThree {
  width: 12vw;
  top: 20vw;
  left: 39vw;
}
/* digger  */
#iconFour {
  width: 7vw;
  top: 18vw;
  left: 36vw;
}
/* chicken */
#iconFive {
  width: 13vw;
  top: 3.5vw;
  left: 39vw;
}
/* map */
#iconSix {
  width: 8vw;
  top: 12vw;
  left: 28vw;
}
/* tent */
#iconSeven {
  width: 10vw;
  top: 1vw;
  left: 30vw;
}
/* riverjump */
#iconEight {
  width: 9.9vw;
  top: 2.5vw;
  left: 19.1vw;
}
/* treehouse */
#iconNine {
  width: 12vw;
  top: 19vw;
  left: 1vw;
}
/* fisher */
#iconTen {
  width: 10vw;
  top: 11vw;
  left: 15vw;
}
/*  lookout tower */
#iconEleven {
  width: 9vw;
  top: 3vw;
  left: 9vw;
}
/* appletree */
#iconTwelve {
  width: 10vw;
  top: 19vw;
  left: 12vw;
}

/*card ids*/

#lunch {
  min-width: 15vw;
  right: -1vw;
}

#golf {
  min-width: 15vw;
  right: -1vw;
}
#boomBord {
  min-width: 19vw;
  right: -3vw;
  top: -2vw;
}

#graven {
  min-width: 12vw;
  right: -1.5vw;
}

#kip {
  min-width: 20vw;
  right: -4vw;
  top: -3vw;
}

#kaart {
  min-width: 13vw;
  right: -1vw;
}

#tent {
  min-width: 15vw;
  right: -3vw;
}

#rivier {
  min-width: 19vw;
  right: -3vw;
  top: -3vw;
}

#huisboom {
  min-width: 17vw;
  right: -3vw;
  top: -2vw;
}

#visser {
  min-width: 17vw;
  right: -2.5vw;
  top: -2vw;
}
#toren {
  min-width: 15vw;
  right: -2vw;
}

#boom {
  min-width: 15vw;
  right: -1vw;
}
