.icon {
  position: absolute;
  display: inline-block;
  height: auto;

  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: contain;
}

.lottie {
  width: 100%;
  height: 100%;
}
/* Individual icons */

/* campfire */
#iconOne {
  z-index: 10;
  width: 9.1vw;
  top: 7.8vw;
  left: 21.25vw;
}

/* golver */
#iconTwo {
  width: 12.5vw;
  top: 21vw;
  left: 49.2vw;
}
/*  crossroad */
#iconThree {
  width: 11vw;
  top: 23.1vw;
  left: 67vw;
}
/* digger  */
#iconFour {
  width: 9vw;
  top: 15.6vw;
  left: 61.9vw;
}
/* chicken */
#iconFive {
  width: 11vw;
  top: 2.3vw;
  left: 65.7vw;
}
/* map */
#iconSix {
  width: 9.8vw;
  top: 10.7vw;
  left: 51vw;
}
/* tent */
#iconSeven {
  width: 11.5vw;
  top: 0vw;
  left: 54.2vw;
}
/* riverjump */
#iconEight {
  width: 10vw;
  top: 1.7vw;
  left: 43vw;
}
/* treehouse */
#iconNine {
  width: 11vw;
  top: 21vw;
  left: 21.2vw;
}
/* fisher */
#iconTen {
  width: 12.2vw;
  top: 10.2vw;
  left: 36vw;
}
/*  lookout tower */
#iconEleven {
  width: 17.3vw;
  top: -3.2vw;
  left: 23.2vw;
}
/* appletree */
#iconTwelve {
  width: 11.5vw;
  top: 20.7vw;
  left: 32.3vw;
}
