/* Tooltip */

.tooltip {
  position: absolute;
  background-color: #253b7c;
  color: #fff;

  visibility: visible;
  opacity: 1;
  transform: translateX(50%);

  padding: 0.4vw;
  font-weight: 600;
  font-size: 0.7vw;
  text-align: center;
  transition: 300ms;
  border-radius: 3vw;
}
/* .tooltip::after {
  content: "";
  position: absolute;
  border-width: 0.8em;
  border-style: solid;
} */

.icon:hover .tooltip {
  background-color: #fff;
  color: #253b7c;
  transition: 300ms;
}

#iconOne .tooltip {
  top: 7vw;
  left: -2.5vw;
  width: 6.5vw;
}

#iconTwo .tooltip {
  bottom: -0.8vw;
  left: -3vw;
  width: 8.5vw;
}

#iconThree .tooltip {
  bottom: 0vw;
  left: -0.5vw;
  width: 6.5vw;
}

#iconFour .tooltip {
  bottom: -1vw;
  left: -5vw;
  width: 8.5vw;
}

#iconFive .tooltip {
  bottom: -0.5vw;
  left: 1vw;
  width: 5.5vw;
}

#iconSix .tooltip {
  bottom: 0vw;
  left: -3vw;
  width: 7vw;
}

#iconSeven .tooltip {
  bottom: -0.5vw;
  left: -1.5vw;
  width: 6vw;
}

#iconEight .tooltip {
  bottom: 0.5vw;
  left: -1.2vw;
  width: 6.5vw;
}

#iconNine .tooltip {
  bottom: -1vw;
  left: -2vw;
  width: 7vw;
}

/* #iconTen .tooltip {
  bottom: 1.5vw;
  left: 1.5vw;
  width: 5.5vw;
} */

#iconEleven .tooltip {
  bottom: 0vw;
  left: -3vw;
  width: 7.5vw;
}

#iconTwelve .tooltip {
  bottom: -1vw;
  left: -1vw;
  width: 6vw;
}

/* --- All #icon::after classes below are commented out for clarity --- */

/*
#iconOne .tooltip::after {
  top: 50%;
  right: 100%;
  border-color: transparent #253b7c transparent transparent;
}
#iconTwo .tooltip::after {
  bottom: 100%;
  left: 50%;
  border-color: transparent transparent #253b7c transparent;
}
#iconThree .tooltip::after {
  top: 50%;
  left: 100%;
  border-color: transparent transparent transparent #253b7c;
}
#iconFour .tooltip::after {
  top: 50%;
  right: 100%;
  border-color: transparent #253b7c transparent transparent;
}
#iconFive .tooltip::after {
  top: 100%;
  left: 50%;
  border-color: #253b7c transparent transparent transparent;
}
#iconSix .tooltip::after {
  bottom: 100%;
  left: 50%;
  border-color: transparent transparent #253b7c transparent;
}
#iconSeven .tooltip::after {
  transform: translateX(-50%);
  top: 100%;
  left: 50%;
  border-color: #253b7c transparent transparent transparent;
}
#iconEight .tooltip::after {
  top: 100%;
  left: 50%;
  border-color: #253b7c transparent transparent transparent;
}
#iconNine .tooltip::after {
  bottom: 100%;
  left: 50%;
  border-color: transparent transparent #253b7c transparent;
}
#iconTen .tooltip::after {
  transform: translateX(-50%);
  bottom: 100%;
  left: 50%;
  border-color: transparent transparent #253b7c transparent;
}
#iconEleven .tooltip::after {
  top: 100%;
  left: 50%;
  border-color: #253b7c transparent transparent transparent;
}
#iconTwelve .tooltip::after {
  bottom: 100%;
  right: 50%;
  border-color: transparent transparent #253b7c transparent;
}
*/
